version: "3"
services:
  nginx:
    image: registry.gitlab.com/yerta/nginx
    ports:
    - "443:4443"
    volumes:
    #- ./config/src:/src:ro
    - {{ nginx.conf_path }}/conf.d:/etc/nginx/conf.d:ro
    - {{ nginx.conf_path }}/ssl:/etc/nginx/ssl:ro
    - {{ nginx.data_path }}:/usr/share/nginx/html:ro
    restart: always
