[Unit]
Description=Nginx Container
After=nftables.service
Requires=nftables.service
After=docker.service
Requires=docker.service

[Service]
SyslogIdentifier=docker-nginx
Environment="COMPOSE_FILE={{ nginx.conf_path }}/docker-compose.yml"
TimeoutStartSec=0
Restart=always

ExecStartPre=-/usr/local/bin/docker-compose -f $COMPOSE_FILE stop
ExecStartPre=-/usr/local/bin/docker-compose -f $COMPOSE_FILE down
#ExecStartPre=/usr/local/bin/docker-compose  -f $COMPOSE_FILE pull

ExecStartPost=+/usr/sbin/nft insert rule inet filter applications_INPUT_FILTER jump nginx_INPUT_FILTER
ExecStartPost=+/usr/sbin/nft insert rule inet filter applications_FORWARD_FILTER jump nginx_FORWARD_FILTER

ExecStart=/usr/local/bin/docker-compose -f $COMPOSE_FILE up

ExecStopPost=+/bin/sh -c '/usr/sbin/nft delete rule inet filter applications_FORWARD_FILTER handle $(/usr/sbin/nft -a list table inet filter | grep -E "jump nginx_FORWARD_FILTER" | grep -E -o "[[:digit:]]+$")'
ExecStopPost=+/bin/sh -c '/usr/sbin/nft delete rule inet filter applications_INPUT_FILTER handle $(/usr/sbin/nft -a list table inet filter | grep -E "jump nginx_INPUT_FILTER" | grep -E -o "[[:digit:]]+$")'

[Install]
WantedBy=multi-user.target
