#!/usr/sbin/nft -f

table inet filter {
    chain nginx_INPUT_FILTER {
        tcp dport 443 ct state { established, new } ip daddr {{ local_interface.ipv4.address }} ip saddr {{ (local_interface.ipv4.network + '/' + local_interface.ipv4.netmask) | ipaddr('network/prefix') }} accept \
        comment "Allow HTTPS connection from local network"
    }
}
table inet filter {
    chain nginx_FORWARD_FILTER {
        ct state { established, related } accept \
        comment "Accept traffic originated from us"

        tcp dport 443 ct state { established, new } ip daddr {{ local_interface.ipv4.address }} ip saddr {{ (local_interface.ipv4.network + '/' + local_interface.ipv4.netmask) | ipaddr('network/prefix') }} accept \
        comment "Allow HTTPS connection from local network"
        tcp dport 4443 ct state { established, new } ip saddr {{ (local_interface.ipv4.network + '/' + local_interface.ipv4.netmask) | ipaddr('network/prefix') }} accept \
        comment "Allow HTTPS connection from local network to container"
    }
}

