server {
  listen 4443 ssl http2 default_server;
  server_name {{ nginx.server_name }};

  ssl_certificate /etc/nginx/ssl/site.pem;
  ssl_certificate_key /etc/nginx/ssl/privatekey.pem;
  ssl_dhparam /etc/nginx/ssl/dhparam.pem;
  #ssl_trusted_certificate /etc/nginx/ssl/file;

  # Only GET and Post are allowed
  # DELETE, PATCH, PUT, OPTIONS must be added if required
  if ($request_method !~ ^(GET|POST)$ ) {
    return 444;
  }

  location / {
    root /usr/share/nginx/html;
    autoindex on;
    # index index.html;
  }
}
