<?xml version="1.0"?>
<DlnaOptions xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <EnablePlayTo>{{ jellyfin.dlna.play_to }}</EnablePlayTo>
  <EnableServer>{{ jellyfin.dlna.server }}</EnableServer>
  <EnableDebugLog>{{ jellyfin.dlna.debug_log }}</EnableDebugLog>
  <BlastAliveMessages>{{ jellyfin.dlna.blast_alive }}</BlastAliveMessages>
  <SendOnlyMatchedHost>{{ jellyfin.dlna.only_matched_host }}</SendOnlyMatchedHost>
  <ClientDiscoveryIntervalSeconds>60</ClientDiscoveryIntervalSeconds>
  <BlastAliveMessageIntervalSeconds>1800</BlastAliveMessageIntervalSeconds>
</DlnaOptions>
