<?xml version="1.0" encoding="utf-8"?>
<NetworkConfiguration xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <RequireHttps>false</RequireHttps>
  <CertificatePath />
  <CertificatePassword />
  <BaseUrl />
  <PublicPort>{{ jellyfin.http_port }}</PublicPort>
  <PublicHttpsPort>{{ jellyfin.https_port }}</PublicHttpsPort>
  <HttpServerPortNumber>{{ jellyfin.http_port }}</HttpServerPortNumber>
  <HttpsPortNumber>{{ jellyfin.https_port }}</HttpsPortNumber>
  <EnableHttps>{{ jellyfin.https_enable }}</EnableHttps>
  <UPnPCreateHttpPortMap>false</UPnPCreateHttpPortMap>
  <UDPPortRange />
  <EnableIPV6>false</EnableIPV6>
  <EnableIPV4>true</EnableIPV4>
  <EnableSSDPTracing>false</EnableSSDPTracing>
  <SSDPTracingFilter />
  <UDPSendCount>2</UDPSendCount>
  <UDPSendDelay>100</UDPSendDelay>
  <IgnoreVirtualInterfaces>true</IgnoreVirtualInterfaces>
  <VirtualInterfaceNames>vEthernet*</VirtualInterfaceNames>
  <GatewayMonitorPeriod>60</GatewayMonitorPeriod>
  <TrustAllIP6Interfaces>false</TrustAllIP6Interfaces>
  <HDHomerunPortRange />
  <PublishedServerUriBySubnet />
  <AutoDiscoveryTracing>false</AutoDiscoveryTracing>
  <AutoDiscovery>true</AutoDiscovery>
  <RemoteIPFilter>
    <string>{{ (local_interface.ipv4.network + '/' + local_interface.ipv4.netmask) | ipaddr('network/prefix') }}</string>
  </RemoteIPFilter>
  <IsRemoteIPFilterBlacklist>false</IsRemoteIPFilterBlacklist>
  <EnableUPnP>{{ jellyfin.upnp_enable }}</EnableUPnP>
  <EnableRemoteAccess>true</EnableRemoteAccess>
  <LocalNetworkSubnets>
    <string>{{ (local_interface.ipv4.network + '/' + local_interface.ipv4.netmask) | ipaddr('network/prefix') }}</string>
  </LocalNetworkSubnets>
  <LocalNetworkAddresses>
    <string>{{ local_interface.ipv4.address }}</string>
  </LocalNetworkAddresses>
  <KnownProxies />
</NetworkConfiguration>
