{% if user %}
[user]
{% if user.name %}
    name = {{ user.name }}
{% endif %}
{% endif %}

{% if user.editor %}
[core]
    editor = {{ user.editor }}
{% endif %}


[alias]
    st = status
    cm = commit
    pl = pull --rebase
    lg = log --color --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit

[color]
    ui = auto

