#!/usr/sbin/nft -f

table inet filter {
    chain jellyfin_INPUT_FILTER {
        tcp dport {{ jellyfin.http_port }} ip daddr {{ local_interface.ipv4.address }} ip saddr {{ (local_interface.ipv4.network + '/' + local_interface.ipv4.netmask) | ipaddr('network/prefix') }} accept \
        comment "Allow Jellyfin GUI HTTP connection from local network"
    }
}

