<?xml version="1.0"?>
<PluginConfiguration xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <Username>{{ subtitles.opensubtitles.user }}</Username>
  <Password>{{ subtitles.opensubtitles.user }}</Password>
</PluginConfiguration>

