#!/usr/sbin/nft -f

table inet filter {
    chain flexget_OUTPUT_FILTER {
        udp sport 6881 oif != {{ local_interface_name }} ip saddr != {{ local_interface.ipv4.address }} accept \
        comment "Allow Transmission peer connection"
    }
}

