[Unit]
Description=Flexget Daemon
After=network.target

[Service]
Type=simple
User={{ flexget.name }}
Group={{ flexget.group }}
UMask=022
WorkingDirectory={{ flexget.config_path }}
ExecStart=/usr/local/bin/flexget daemon start
ExecStop=/usr/local/bin/flexget daemon stop
ExecReload=/usr/local/bin/flexget daemon reload

ExecStartPost=+/usr/sbin/nft insert rule inet filter applications_OUTPUT_FILTER jump flexget_OUTPUT_FILTER
ExecStopPost=+/bin/sh -c '/usr/sbin/nft delete rule inet filter applications_OUTPUT_FILTER handle $(/usr/sbin/nft -a list table inet filter | grep -E "jump flexget_OUTPUT_FILTER" | grep -E -o "[[:digit:]]+$")'

[Install]
WantedBy=multi-user.target


