---
# TrakTV account informations
trakt:
  account: "{{ trakt.account }}"
  # Name of your series watchlist on TrackTV
  series: "{{ trakt.series }}"
  # Name of your movies watchlist on TrackTV
  movies: "{{ trakt.movies }}"


# Directories where your files will be stored. Don't forget to put a trailing slash '/'
folder:
  # Root path of the folder/mountpoint for all the media, without the leading slash
  root: "{{ folder.root }}"
  # Media and download paths, relative to the root path
  series: "{{ folder.series }}"
  movies: "{{ folder.series }}"
  downseries: "{{ folder.downseries }}"
  downmovies: "{{ folder.downmovies }}"


# Transmission account info
transmission:
  host: "{{ transmission.host }}"
  user: "{{ transmission_creds.user }}"
  pass: "{{ transmission_creds.pass }}"


# Account credentials for opensubtitles.org and addic7ed.com. Sign in first.
subtitles:
  opensubtitles:
    user: "{{ opensubtitles_creds.user }}"
    pass: "{{ opensubtitles_creds.pass }}"
  addic7ed:
    user: "{{ addic7ed_creds.user }}"
    pass: "{{ addic7ed_creds.pass }}"


# Rss URL associated with a showrss.info account
rss:
  showrss-user-id: "{{ rss.showrss_user_id }}"


