#!/usr/sbin/nft -f

table inet filter {
    chain transmission_INPUT_FILTER {
        tcp dport {{ transmission.rpc_port }} ip daddr {{ local_interface.ipv4.address }} ip saddr {{ (local_interface.ipv4.network + '/' + local_interface.ipv4.netmask) | ipaddr('network/prefix') }} accept \
        comment "Allow Transmission GUI connection from local network"
    }
    chain transmission_OUTPUT_FILTER {
        udp sport {{ transmission.peer_port }} oif != {{ local_interface_name }} ip saddr != {{ local_interface.ipv4.address }} accept \
        comment "Allow Transmission peer connection"
    }
}

