#!/bin/bash

set -x

IFACE=$1

VPN_IP=$(ip --brief --family inet addr show $IFACE | tr -s ' ' | cut -d' ' -f3 | cut -d'/' -f1)

sed -r -i '/bind-address-ipv4/s/(25[0-5]|2[0-4][0-9]|[01]?[0-9][0-9]?)(\.(25[0-5]|2[0-4][0-9]|[01]?[0-9][0-9]?)){3}/'$VPN_IP'/' {{ transmission.config_path }}/settings.json
