[Unit]
After=nftables.service
Requires=nftables.service

After=wg-quick@{{ torrent_interface_name }}.service sys-subsystem-net-devices-{{ torrent_interface_name }}.device
BindsTo=wg-quick@{{ torrent_interface_name }}.service sys-subsystem-net-devices-{{ torrent_interface_name }}.device

[Service]
ExecStartPre={{ transmission.config_path }}/transmission-vpn-setup.sh {{ torrent_interface_name }}

ExecStartPost=+/usr/sbin/nft insert rule inet filter applications_INPUT_FILTER jump transmission_INPUT_FILTER
ExecStartPost=+/usr/sbin/nft insert rule inet filter applications_OUTPUT_FILTER jump transmission_OUTPUT_FILTER


ExecStopPost=+/bin/sh -c '/usr/sbin/nft delete rule inet filter applications_OUTPUT_FILTER handle $(/usr/sbin/nft -a list table inet filter | grep -E "jump transmission_OUTPUT_FILTER" | grep -E -o "[[:digit:]]+$")'
ExecStopPost=+/bin/sh -c '/usr/sbin/nft delete rule inet filter applications_INPUT_FILTER handle $(/usr/sbin/nft -a list table inet filter | grep -E "jump transmission_INPUT_FILTER" | grep -E -o "[[:digit:]]+$")'
