[Interface]
PrivateKey = {{ wg.interface.privatekey }}
Address = {{ wg.interface.address }}
DNS = {{ wg.interface.dns }}

PreUp = nft insert rule inet filter output udp dport {{ wg.peer.endpoint.port }} ip daddr {{ wg.peer.endpoint.address }} ip saddr {{ (local_interface.ipv4.network + '/' + local_interface.ipv4.netmask) | ipaddr('network/prefix') }} counter accept comment \"Allow VPN tunnel traffic\"

PostUp = nft insert rule inet filter output oifname != "%i" mark != $(wg show %i fwmark) ip daddr != {{ (local_interface.ipv4.network + '/' + local_interface.ipv4.netmask) | ipaddr('network/prefix') }} counter reject comment \"Reject non marked, non local or not passing through %i traffic\"
PostUp = nft insert rule inet filter output oifname lo accept comment \"Accept any localhost traffic with VPN on\"



PreDown = nft delete rule inet filter output handle $(nft -a list table inet filter | grep -E "oifname \"lo\" accept comment \"Accept any localhost traffic with VPN on\"" | grep -E -o "[[:digit:]]+$")
PreDown = nft delete rule inet filter output handle $(nft -a list table inet filter | grep -E "%i.+mark.+ip daddr != {{ (local_interface.ipv4.network + '/' + local_interface.ipv4.netmask) | ipaddr('network/prefix') | replace(".", "\.") }}.+reject" | grep -E -o "[[:digit:]]+$")

PostDown = nft delete rule inet filter output handle $(nft -a list table inet filter | grep -E "udp dport {{ wg.peer.endpoint.port }}.+ip daddr {{ wg.peer.endpoint.address | replace(".", "\.") }}.+ip saddr {{ (local_interface.ipv4.network + '/' + local_interface.ipv4.netmask) | ipaddr('network/prefix') }}.+accept" | grep -E -o "[[:digit:]]+$")


[Peer]
PublicKey = {{ wg.peer.publickey }}
AllowedIPs = {{ wg.peer.allowedips }}
Endpoint = {{ wg.peer.endpoint.address }}:{{ wg.peer.endpoint.port }}
